$color-grey-light-1: #c4c4c4;
$color-black: #000000;
$color-white: #ffffff;
$width: 1089px;

section {
  margin: 9rem auto;
  width: $width;
}

.video_list {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  width: $width;
}
