<section>
  <app-menu (colsNumber)="onChangeGridStyle($event)" (showFavorite)="onShowFavoriteSwitch($event)"></app-menu>
  <mat-grid-list [cols]="colsNumber" rowHeight="7rem">
    <mat-grid-tile *ngFor="let video of videosList | showFavorite: showFavorite">
      <app-item [video]="video"></app-item>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator
    #pagintor
    [length]="videosList.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event"
  ></mat-paginator>
</section>
