<section>
  <app-input></app-input>
  <app-menu
    (sortSwitch)="onSortSwitch($event)"
    (gridSwitch)="onChangeGridStyle($event)"
  ></app-menu>

  <div class="video_list">
    <div class="video_tile" *ngFor="let video of videosList | sort: sortSwitch | showFavorite: showFavorite | slice: firstPage:secondPage">
      <app-item [video]="video" [gridSwitch]="gridSwitch"></app-item>
    </div>
  </div>

  <mat-paginator
    #pagintor
    [length]="videosList.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = setPaginaotor($event)"
  ></mat-paginator>
</section>
