.item {
  display: grid;
  grid-template-columns: minmax(min(3rem, 100%), 10rem) minmax(min(15rem, 100%), 85rem) auto;
  grid-template-rows: 8rem;
  background: #272727;

  mat-icon {
    cursor: pointer;
  }

  &__image {
    margin: 0.5rem;
    // margin: auto 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-image: url(var(--_thumbnailPath))

    // img {
    //   width: 100%;
    //   cursor: pointer;
    // }
  } 

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    mat-icon {
      font-size: 1.5rem;
      padding-left: 1rem;
    }

    @media (max-width: 700px) {
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
    }
  }
}

.data {
  display: flex;

  &__item:last-child {
    padding-left: 2rem;
  }

  mat-icon {
    height: fit-content;
    width: fit-content;
    transform: translateY(2px);
    padding-right: 0.3rem;
    opacity: 0.8;
    font-size: 0.8rem;
  }
}
