<div class="item">
  <div class="thumbnail">
    <img [src]="thumbnailPath" (click)="playRightPlatform(platform, videoId)" />
  </div>
  <div class="info">
    <div class="title">
      {{ title }}
    </div>
    <div class="data">
      <mat-icon>{{ check_circle }}</mat-icon>{{ dateObj | date: 'mediumDate' }}<mat-icon>{{ visibility }}</mat-icon>{{ viewCount }}
    </div>
  </div>
  <div class="menu">
    <mat-icon (click)="onFavoriteClick(videoId)">
      {{ favoriteSwitch }}
    </mat-icon>
    <mat-icon (click)="onDeleteClick(videoId)">{{ deleteIcon }}</mat-icon>
  </div>
</div>
