<div class="video_tile">
  <div class="video_tile__header">
    <div class="video_tile__header__image">
      <img [src]="thumnbnailPath" (click)="play(video.playLink)" />
    </div>
    <div class="video_tile__header__title">
      <a [routerLink]="['video', videoId]" href="#">{{ title | short }}</a>
    </div>
  </div>
  <div class="video_tile__footer">
    <div class="video_tile__info">{{ likes | thousand }} like {{ viewCount | thousand }} wyświetleń</div>
    <div class="video_tile__actions">
      <app-actions [videoId]="videoId"></app-actions>
    </div>
  </div>
</div>
