<section class='container'>
  <app-menu
    (colsNumber)="onChangeGridStyle($event)"
    (showFavorite)="onShowFavoriteSwitch($event)"
    (sortSwitch)="onSortSwitch($event)"
  ></app-menu>
  <div class="video-list">
    <div
      class="video-list__item"
      [ngStyle]="{'min-width': isLineView ? '100%' : 'calc(calc(100% - 2rem) / 3)'}"
      *ngFor="
        let video of videosList
          | sort : sortSwitch
          | showFavorite : showFavorite
          | slice : firstPage : secondPage
      "
    >
      <app-item [video]="video"></app-item>
    </div>
  </div>  
  <mat-paginator
    #paginator
    [length]="videosList.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = setPaginator($event)"
  ></mat-paginator>
</section>
