@import 'styles.scss';

.toolbox {
  display: flex;
  justify-content: space-between;
  width: $width;
  margin-bottom: 1rem;

  li,
  ul {
    display: inline-block;
  }
  li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    list-style: none;
    padding-right: 3rem;
  }

  li.link {

    &:link,
    &:visited {
      color: $color-black;
      text-decoration: none;
      display: inline-block;
    }

    &:hover:not(.inactive) {
      text-decoration: underline;
    }

    &:active {
      text-decoration: underline;
      color: $color-black;
    }
  }

  &__actions {
    flex-grow: 2;
  }
}

.active {
  text-decoration: underline;
  cursor: default;
}

.inactive {
  text-decoration: none;
  cursor: pointer;
}
