<section>
    <form [formGroup]="inputForm" (submit)="onAddVideo()">
        <mat-form-field appearance="fill">
            <mat-label>Tutaj wklej link do filmu</mat-label>
            <input matInput [errorStateMatcher]="externalErrorStateMatcher" placeholder="https://youtube..." formControlName="video">
            <mat-error >Link/id filmu musi być poprawny!</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Dodaj</button>
    </form>
</section>
