<div class="video_page">
  <div class="video_page__header">
    <div class="video_page__header__title">{{ videoTitle }}</div>
    <div class="video_page__header__actions">
      <ul>
        <li>{{ loveIcon }}</li>
        <li>{{ deleteIcon }}</li>
      </ul>
    </div>
  </div>
  <div class="video_page_content"></div>
  <div class="video_page__footer">
    <div class="video_page__footer__likes">
      {{ contentDisplays }} <span class="fontBold">{{ displays }}</span>
    </div>
    <div class="video_page__footer__stats">
      {{ contentLikes }} <span class="fontBold">{{ likes }}</span>
    </div>
    <div class="video_page__footer__date">
      {{ contentDate }} <span class="fontBold">{{ dateOfAddingVideo }}</span>
    </div>
  </div>
</div>
