<section>
    <app-menu></app-menu>
    <mat-grid-list cols="viewStyle" rowHeight="7rem">
        <mat-grid-tile *ngFor="let video of pagedList">
            <!-- Don't like this undefined workaround -->
            <!-- <img src="{{ video.items[0].snippet.thumbnails?.default?.url }}"> -->
            <mat-grid-tile-header>
                {{ video.items[0].snippet?.title }}
                Dodano: {{ video.userSetting?.date}}
            </mat-grid-tile-header> 
            <!-- {{ video.statistics?.viewCount }} <br> -->
            <mat-grid-tile-footer>
                <mat-icon (click)="onFavoriteClick(video.items[0].id)">{{ video.userSetting.favorite ? "favorite" : "favorite_outline" }}</mat-icon>
                <mat-icon (click)="onDeleteClick(video)">delete_forever</mat-icon>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
    ></mat-paginator>
</section>
