<section>
    <app-menu></app-menu>
    <mat-grid-list cols="1" rowHeight="7rem">
        <mat-grid-tile *ngFor="let video of pagedList">
            <!-- Don't like this undefined workaround -->
            <img src="{{ video.snippet.thumbnails?.default?.url }}">
            <mat-grid-tile-header>
                {{ video.snippet?.title }}
            </mat-grid-tile-header> 
            <!-- {{ video.statistics?.viewCount }} <br> -->
            <mat-grid-tile-footer>
                <mat-icon>favorite</mat-icon>
                <mat-icon>delete</mat-icon>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="OnPageChange($event)"
    ></mat-paginator>
</section>
