<div class="item">
    <div class="thumbnail">
        <img
        [src]="thumnbnailPath"
        (click)="play(playerLink)">
    </div>
    <div class="info">
        <div class="title">
            {{ title }}   
        </div>
        <div class="data">
            <mat-icon>check_circle</mat-icon>{{ dateObj | date:'mediumDate' }}
            <mat-icon>visibility</mat-icon>{{ viewCount }}
        </div>
    </div>
    <div class="menu">
        <mat-icon (click)="onFavoriteClick(id)">
            {{ favoriteSwitch }}
        </mat-icon>
        <mat-icon (click)="onDeleteClick(id)">delete_forever</mat-icon>
    </div>
</div>
