<section>
  <form [formGroup]="inputForm" (submit)="onAddVideo()">
    <mat-form-field appearance="fill">
      <mat-label>{{ inputLabel }}</mat-label>
      <input matInput placeholder="https://youtube..." formControlName="video" />
      <mat-error *ngIf="inputForm.controls['video'].hasError('minlength')">{{ errorMessageMinLength }}</mat-error>
      <mat-error *ngIf="inputForm.controls['video'].hasError('maxlength')">{{ errorMessageMaxLength }}</mat-error>
      <mat-error *ngIf="inputForm.controls['video'].hasError('matchValid')">{{ errorMessageURL }}</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!inputForm.valid">{{ addButton }}</button>
  </form>
</section>
